<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Rates</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <tbody>
            <tr>
              <td>Id:</td>
              <td>{{rate.id}}</td>
            </tr>
            <tr>
              <td>UserId:</td>
              <td>{{rate.userId}}</td>
            </tr>
            <tr>
              <td>RatedUserId</td>
              <td>{{rate.ratedUserId}}</td>
            </tr>
            <tr>
              <td>CircleId</td>
              <td>{{rate.circleId}}</td>
            </tr>
            <tr>
              <td>Value</td>
              <td>{{rate.value}}</td>
            </tr>
            <tr>
              <td>Comment</td>
              <td>{{rate.comment}}</td>
            </tr>
            <tr>
              <td>CreatedAt</td>
              <td>{{rate.createdAt}}</td>
            </tr>
            <tr>
              <td>UpdatedAt</td>
              <td>{{rate.updatedAt}}</td>
            </tr>
            <tr>
              <td>DeletedAt</td>
              <td>{{rate.deletedAt}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a href="/rate/update?id={{rate.id}}" class="btn btn-primary">Update</a>
    <a href="/rate/delete?id={{rate.id}}" class="btn btn-primary">Delete</a>
  </div>
</div>
